[Desktop Entry]
Version=1.0
GenericName=Ktube
Name=Ktube
Type=Application
Icon=ktube
Keywords=Music Player;itunes;spotify
Exec=ktube-media-downloader %F
Categories=AudioVideo;Player;Qt;Audio;
Terminal=false
Name[en_US]=ktube-media-downloader
